In [8]:
import traffic
from traffic.data import opensky
from traffic.core import Traffic
from rich.pretty import pprint
import pandas as pd
import copy

In [4]:
# let's first load data from the h5-file
file = "Frankfurt_LH_2301.h5"
t_10 = Traffic.from_file(file, key = "LH_230110", parse_dates=["day","firstseen", "hour", "last_position","lastseen","timestamp"])
t_09 = Traffic.from_file(file, key = "LH_230109", parse_dates=["day","firstseen", "hour", "last_position","lastseen","timestamp"])
t_11 = Traffic.from_file(file, key = "LH_230111", parse_dates=["day","firstseen", "hour", "last_position","lastseen","timestamp"])

In [59]:
grouped = t_11.data.groupby("flight_id", as_index=False).mean(numeric_only =True).onground
print(grouped[grouped>0].shape)
print(grouped[grouped==0].shape)

(203,)
(90,)

In [83]:
t_10.data.loc[t_10.data.timestamp.dt.time>time_late]

,alert,altitude,callsign,day,destination,firstseen,geoaltitude,groundspeed,hour,icao24,...,latitude,longitude,onground,origin,spi,squawk,timestamp,track,vertical_rate,flight_id
64285,False,0.0,DLH403,2023-01-11 00:00:00+00:00,EDDF,2023-01-10 23:49:16+00:00,-50.0,172.0,2023-01-10 23:00:00+00:00,3c4a01,...,40.680651,-74.176005,False,KEWR,False,3371,2023-01-10 23:49:16+00:00,205.077184,1472.0,DLH403_000
64286,False,25.0,DLH403,2023-01-11 00:00:00+00:00,EDDF,2023-01-10 23:49:16+00:00,25.0,173.0,2023-01-10 23:00:00+00:00,3c4a01,...,40.679855,-74.176514,False,KEWR,False,3371,2023-01-10 23:49:17+00:00,205.377744,2112.0,DLH403_000
64287,False,75.0,DLH403,2023-01-11 00:00:00+00:00,EDDF,2023-01-10 23:49:16+00:00,50.0,172.0,2023-01-10 23:00:00+00:00,3c4a01,...,40.678986,-74.177063,False,KEWR,False,3371,2023-01-10 23:49:18+00:00,205.077184,2176.0,DLH403_000
64288,False,100.0,DLH403,2023-01-11 00:00:00+00:00,EDDF,2023-01-10 23:49:16+00:00,50.0,172.0,2023-01-10 23:00:00+00:00,3c4a01,...,40.678986,-74.177063,False,KEWR,False,3371,2023-01-10 23:49:19+00:00,205.077184,2176.0,DLH403_000
64289,False,150.0,DLH403,2023-01-11 00:00:00+00:00,EDDF,2023-01-10 23:49:16+00:00,125.0,173.0,2023-01-10 23:00:00+00:00,3c4a01,...,40.678986,-74.177063,False,KEWR,False,3371,2023-01-10 23:49:20+00:00,205.377744,2304.0,DLH403_000
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
86238,False,125.0,DLH2RW,2023-01-10 00:00:00+00:00,EDDF,2023-01-10 06:31:37+00:00,550.0,134.0,2023-01-10 07:00:00+00:00,3c675a,...,50.043411,8.579816,False,EDDH,False,1335,2023-01-10 07:16:13+00:00,249.943905,-256.0,DLH2RW_318
86239,False,125.0,DLH2RW,2023-01-10 00:00:00+00:00,EDDF,2023-01-10 06:31:37+00:00,550.0,134.0,2023-01-10 07:00:00+00:00,3c675a,...,50.043411,8.579816,False,EDDH,False,1335,2023-01-10 07:16:14+00:00,249.943905,-256.0,DLH2RW_318
86240,False,125.0,DLH2RW,2023-01-10 00:00:00+00:00,EDDF,2023-01-10 06:31:37+00:00,525.0,131.0,2023-01-10 07:00:00+00:00,3c675a,...,50.043411,8.579816,False,EDDH,False,1335,2023-01-10 07:16:15+00:00,249.495021,-256.0,DLH2RW_318
86241,False,125.0,DLH2RW,2023-01-10 00:00:00+00:00,EDDF,2023-01-10 06:31:37+00:00,525.0,131.0,2023-01-10 07:00:00+00:00,3c675a,...,50.042542,8.576202,False,EDDH,False,1335,2023-01-10 07:16:16+00:00,249.495021,-128.0,DLH2RW_318
86242,False,125.0,DLH2RW,2023-01-10 00:00:00+00:00,EDDF,2023-01-10 06:31:37+00:00,525.0,131.0,2023-01-10 07:00:00+00:00,3c675a,...,50.042542,8.576202,False,EDDH,False,1335,2023-01-10 07:16:17+00:00,249.495021,-128.0,DLH2RW_318

In [91]:
from datetime import datetime

time_str_late = '23:59:58'
time_str_early = '00:00:02'
time_late = datetime.strptime(time_str_late, '%H:%M:%S').time()
time_early = datetime.strptime(time_str_early, '%H:%M:%S').time()
borderline = t_10.data.loc[(t_10.data.timestamp.dt.time>time_late) | (t_10.data.timestamp.dt.time<time_early)].flight_id.unique()

t_10[~borderline]

TypeError: bad operand type for unary ~: 'str'

In [100]:
t_10[0].data.icao24

182868    3c65c8
182869    3c65c8
182870    3c65c8
182871    3c65c8
182872    3c65c8
           ...
15164     3c65c8
15165     3c65c8
15166     3c65c8
15167     3c65c8
15168     3c65c8
Name: icao24, Length: 7563, dtype: object

In [142]:
def get_edge_flights(flights):
    time_str_early = "00:00:02"
    time_str_late = "23:59:58"
    time_early = datetime.strptime(time_str_early, '%H:%M:%S').time()
    time_late = datetime.strptime(time_str_late, '%H:%M:%S').time()
    early_flight_ids = flights.data.loc[flights.data.timestamp.dt.time<time_early].flight_id.unique()
    late_flight_ids = flights.data.loc[(flights.data.timestamp.dt.time>time_late)].flight_id.unique()    
    normal_flight_ids = set(flights.flight_ids) - set(early_flight_ids) - set(late_flight_ids)
    
    return normal_flight_ids, early_flight_ids, late_flight_ids

def get_combined_ids(flights, flights_before, flights_after, early_flight_ids, late_flight_ids):
    #check if early flights are late flights in other df.
    # create id that can be comparable
    if len(early_flight_ids) != 0:
        _, __, before_late = get_edge_flights(flights_before)    
    
        if len(before_late) != 0:
            id_flights_early = flights[early_flight_ids].data.icao24 + flights[early_flight_ids].data.callsign
            id_flights_before_late = flights_before[before_late].data.icao24 + flights_before[before_late].data.callsign

            identifiers_early = set(id_flights_early) & set(id_flights_before_late)
        else:
            identifier_early = {}
    else:
        identifier_early = {}
    
    #check if late flights are early flights in other df.
    # create id that can be comparable
    if len(late_flight_ids) != 0:
        _, after_early,__  = get_edge_flights(flights_after)   
    
        if len(after_early) != 0:
            id_flights_late = flights[late_flight_ids].data.icao24 + flights[late_flight_ids].data.callsign
            id_flights_after_early = flights_after[after_early].data.icao24 + flights_after[after_early].data.callsign

            identifiers_late = set(id_flights_late) & set(id_flights_after_early)
        else:
            identifiers_late = {}
    else:
        identifiers_late = {}
           
    
    return identifier_early, identifiers_late
    
def get_full_flights(flights, flights_before = None, flights_after=None):
    # A full flight goes from start till onground switches to True. Many flights don't even have onground variables with True value
    # get all flights which have timestamps 2 seconds before end of day and 2 seconds after start of day. Those must be combined with 
    # other data
    normal_flight_ids, early_flight_ids, late_flight_ids = get_edge_flights(flights)
    combined_id_early, combined_id_late = get_combined_ids(flights, flights_before, flights_after, early_flight_ids, late_flight_ids)
    
    if len(combined_id_early) != 0:
        pass
    if len(combined_id_late) != 0:
        pass
    
    flights_total = flights[normal_flight_ids]
    # get only flights which have onground values of true
    flight_ids_grouped = flights_total.data.groupby("flight_id", as_index=False).mean(numeric_only=True)
    flight_ids_onground = flight_ids_grouped.loc[flight_ids_grouped.onground > 0].flight_id.values
    return flight_ids_onground

In [103]:
def get_arrival_time(df: pd.DataFrame):
    # only get flights, which have both values for True and False.
    flights_in_air = df[["callsign", "icao24", "timestamp", "onground"]].groupby(["callsign", "icao24"], as_index=False).mean("onground")
    flights_in_air = flights_in_air.loc[flights_in_air.onground < 1]
    flights_in_air = flights_in_air.callsign + flights_in_air.icao24    
    arrival_times = df[df.onground == True][["callsign", "icao24", "timestamp"]].groupby(["callsign", "icao24"], as_index=False).min()    
    arrival_times = arrival_times.loc[(arrival_times.callsign + arrival_times.icao24).isin(flights_in_air)]
    data = copy.copy(df)
    data["id"] = data["callsign"]+data["icao24"]
    arrival_times["id"] = arrival_times["callsign"]+arrival_times["icao24"]
    arrivals = arrival_times[["id","timestamp"]].set_index("id").squeeze()
    
    return df["id"].map(arrivals)

In [144]:
get_full_flights(t_10, t_09, t_11).values

array(['DLH06P_233', 'DLH087_089', 'DLH11H_122', 'DLH11Y_296',
       'DLH1299_134', 'DLH1305_124', 'DLH1307_114', 'DLH137_091',
       'DLH1455_211', 'DLH153_066', 'DLH1561_127', 'DLH163_100',
       'DLH17F_079', 'DLH1A_083', 'DLH1EM_102', 'DLH1JV_230', 'DLH1J_284',
       'DLH1KY_266', 'DLH1LA_075', 'DLH1LT_203', 'DLH1ME_072',
       'DLH1PT_277', 'DLH1V_084', 'DLH1WT_263', 'DLH21P_297',
       'DLH22A_256', 'DLH22J_236', 'DLH25M_251', 'DLH275_267',
       'DLH279_307', 'DLH2AE_304', 'DLH2A_080', 'DLH2CF_268',
       'DLH2FN_219', 'DLH2HP_168', 'DLH2JT_299', 'DLH2J_264',
       'DLH2KA_056', 'DLH2K_064', 'DLH2LX_246', 'DLH2NX_104',
       'DLH2RW_318', 'DLH2TN_241', 'DLH2UY_248', 'DLH2V_227',
       'DLH2XV_292', 'DLH351_189', 'DLH393_060', 'DLH395_077',
       'DLH399_081', 'DLH3A_228', 'DLH3CH_305', 'DLH3C_302', 'DLH3EN_070',
       'DLH3ER_255', 'DLH3F_303', 'DLH3HY_096', 'DLH3KK_046',
       'DLH3KW_220', 'DLH3LT_216', 'DLH3LT_217', 'DLH3LX_300',
       'DLH3MA_238', 'DLH3NH_289', 'DLH3PF_218', 'DLH3PP_275',
       'DLH3RM_057', 'DLH3U_239', 'DLH3VC_169', 'DLH3VR_190',
       'DLH401_006', 'DLH423_144', 'DLH423_172', 'DLH439_177',
       'DLH441_181', 'DLH443_139', 'DLH443_145', 'DLH455_025',
       'DLH455_026', 'DLH457_012', 'DLH457_013', 'DLH463_024',
       'DLH469_188', 'DLH499_030', 'DLH499_032', 'DLH4AH_112',
       'DLH4A_107', 'DLH4EK_051', 'DLH4HH_285', 'DLH4HT_294',
       'DLH4JF_247', 'DLH4JT_234', 'DLH4KJ_278', 'DLH4KX_047',
       'DLH4MX_097', 'DLH4NC_068', 'DLH4NE_042', 'DLH4RL_269',
       'DLH4TR_098', 'DLH4UY_315', 'DLH4WT_087', 'DLH4YX_290',
       'DLH4YY_312', 'DLH507_008', 'DLH511_038', 'DLH52T_132',
       'DLH52Y_126', 'DLH55E_116', 'DLH561_183', 'DLH569_184',
       'DLH573_020', 'DLH581_119', 'DLH595_173', 'DLH5AC_201',
       'DLH5CU_191', 'DLH5EJ_158', 'DLH5EL_313', 'DLH5HJ_198',
       'DLH5HP_229', 'DLH5KV_110', 'DLH5KX_099', 'DLH5K_055',
       'DLH5LL_205', 'DLH5RL_043', 'DLH5UP_232', 'DLH5U_231',
       'DLH601_137', 'DLH62H_163', 'DLH631_178', 'DLH631_179',
       'DLH637_175', 'DLH637_182', 'DLH647_171', 'DLH64T_212',
       'DLH65N_128', 'DLH687_129', 'DLH691_130', 'DLH695_133',
       'DLH6AF_257', 'DLH6AJ_117', 'DLH6JC_093', 'DLH6JN_044',
       'DLH6JW_209', 'DLH6KU_270', 'DLH6KV_310', 'DLH6LY_306',
       'DLH6MK_316', 'DLH6ML_308', 'DLH6PP_121', 'DLH6PW_276',
       'DLH6TH_309', 'DLH6U_162', 'DLH6VA_254', 'DLH6YA_058',
       'DLH71F_123', 'DLH757_136', 'DLH761_154', 'DLH76E_135',
       'DLH77P_242', 'DLH77X_159', 'DLH797_148', 'DLH7EM_260',
       'DLH7H_213', 'DLH7LC_194', 'DLH7PV_210', 'DLH7PW_207', 'DLH7P_206',
       'DLH7V_261', 'DLH7YC_250', 'DLH7YE_062', 'DLH811_245',
       'DLH81J_265', 'DLH863_214', 'DLH877_106', 'DLH885_258',
       'DLH8AA_288', 'DLH8C_109', 'DLH8EE_204', 'DLH8EU_192',
       'DLH8JW_291', 'DLH8KW_199', 'DLH8NC_243', 'DLH8NM_253',
       'DLH8PK_115', 'DLH8RJ_271', 'DLH8U_166', 'DLH8V_240', 'DLH8WN_279',
       'DLH8YX_088', 'DLH91H_215', 'DLH9910_195', 'DLH9920_036',
       'DLH99H_082', 'DLH99P_295', 'DLH9AL_272', 'DLH9CH_078',
       'DLH9EK_237', 'DLH9HY_118', 'DLH9H_167', 'DLH9JT_202',
       'DLH9KE_063', 'DLH9KF_259', 'DLH9KK_274', 'DLH9MR_235',
       'DLH9TK_095', 'DLH9U_164', 'DLH9YJ_085', 'DLH9Y_286'], dtype=object)

In [133]:
t_10.data.groupby("flight_id").mean(numeric_only=True)

,alert,altitude,geoaltitude,groundspeed,latitude,longitude,onground,spi,track,vertical_rate
flight_id,,,,,,,,,,
DLH01P_222,0.011503,27670.881264,28207.556525,438.604390,46.970536,0.070065,0.000000,0.000132,68.690021,-4.104191
DLH01U_200,0.000000,27312.847421,NaN,358.803554,45.603355,6.700101,0.000000,0.000000,64.814590,4.676888
DLH01X_244,0.000280,26914.784984,27306.447885,378.233506,44.788303,6.523377,0.000000,0.000140,58.199638,0.564785
DLH067_053,0.000000,12446.950883,12536.236886,298.889073,50.725785,8.470228,0.000000,0.000000,181.639571,-328.971302
DLH06N_086,0.000000,18481.240042,18146.972916,329.060011,48.815673,11.850003,0.000000,0.000000,301.361500,-19.764206
...,...,...,...,...,...,...,...,...,...,...
DLH9UM_113,0.000420,12290.584279,12427.071068,268.354351,49.427000,10.112104,0.000000,0.000000,301.040180,-35.833544
DLH9U_164,0.000000,18865.858971,18995.759597,404.320359,50.616616,4.861813,0.000272,0.000272,123.915122,-7.751769
DLH9V_262,0.000257,21653.114565,21498.291806,327.886977,49.035024,12.074735,0.000000,0.000000,287.679737,-9.946057
DLH9YJ_085,0.000000,19824.116396,20733.459278,309.900990,50.432096,11.827295,0.069046,0.000000,256.925423,-128.433559
DLH9Y_286,0.000426,11263.222512,11862.793057,328.249252,50.334566,7.156005,0.051173,0.000000,141.702370,-8.536982

In [89]:
df = trajactories.data
df["id"] = df["callsign"]+df["icao24"]
arrival_time["id"] = arrival_time["callsign"]+arrival_time["icao24"]
arrival_time.head()

  callsign  icao24                 timestamp             id
0   AAL716  aa57df 2023-02-13 00:10:19+00:00   AAL716aa57df
1   AAL716  aa77f0 2023-02-14 05:17:02+00:00   AAL716aa77f0
2   ACA834  c038aa 2023-02-13 01:15:12+00:00   ACA834c038aa
3  AEA1517  344446 2023-02-14 16:37:30+00:00  AEA1517344446
4   AEE5CM  46b8a2 2023-02-14 08:16:10+00:00   AEE5CM46b8a2

In [ ]:
df["id"].map(arrival_time[["id","timestamp"]].set_index("id"))

In [99]:
arrivals = arrival_time[["id","timestamp"]].set_index("id").squeeze()

In [101]:
df["arrival_time"] = df["id"].map(arrivals)
df.head()

,alert,altitude,callsign,count,day,destination,firstseen,geoaltitude,groundspeed,hour,...,longitude,onground,origin,spi,squawk,timestamp,track,vertical_rate,id,arrival_time
3603,False,35000.0,UAL102,10,2023-02-13 00:00:00+00:00,EDDM,2023-02-12 22:39:25+00:00,35050.0,478.0,2023-02-13 00:00:00+00:00,...,-87.446322,False,KIAH,False,2534,2023-02-13 00:00:01+00:00,50.010149,0.0,UAL102a87223,2023-02-13 07:17:44+00:00
15490,False,32425.0,DLH411,1,2023-02-13 00:00:00+00:00,EDDM,2023-02-12 23:04:29+00:00,32075.0,609.0,2023-02-13 00:00:00+00:00,...,-65.423846,False,KJFK,False,1746,2023-02-13 00:00:01+00:00,69.421926,1216.0,DLH4113c6517,NaT
25114,False,9900.0,DLH461,1,2023-02-13 00:00:00+00:00,EDDM,2023-02-12 23:55:49+00:00,10050.0,336.0,2023-02-13 00:00:00+00:00,...,-80.372764,False,KMIA,False,None,2023-02-13 00:00:01+00:00,79.024345,2880.0,DLH4613c66c4,2023-02-13 07:04:25+00:00
11824,False,34800.0,UAL106,10,2023-02-13 00:00:00+00:00,EDDM,2023-02-12 23:11:13+00:00,34825.0,596.0,2023-02-13 00:00:00+00:00,...,-70.811484,False,KIAD,False,2714,2023-02-13 00:00:01+00:00,41.258280,-960.0,UAL106a1fcc5,2023-02-13 06:47:24+00:00
1986,False,37000.0,AAL716,2,2023-02-13 00:00:00+00:00,EDDM,2023-02-12 22:16:15+00:00,36425.0,574.0,2023-02-13 00:00:00+00:00,...,-70.354179,False,KCLT,False,2537,2023-02-13 00:00:01+00:00,63.970408,0.0,AAL716aa57df,2023-02-13 00:10:19+00:00

In [112]:
df.

Index(['alert', 'altitude', 'callsign', 'count', 'day', 'destination',
       'firstseen', 'geoaltitude', 'groundspeed', 'hour', 'icao24',
       'last_position', 'lastseen', 'latitude', 'longitude', 'onground',
       'origin', 'spi', 'squawk', 'timestamp', 'track', 'vertical_rate', 'id',
       'arrival_time'],
      dtype='object')

In [111]:
trajactories.data.columns

Index(['alert', 'altitude', 'callsign', 'count', 'day', 'destination',
       'firstseen', 'geoaltitude', 'groundspeed', 'hour', 'icao24',
       'last_position', 'lastseen', 'latitude', 'longitude', 'onground',
       'origin', 'spi', 'squawk', 'timestamp', 'track', 'vertical_rate', 'id',
       'arrival_time'],
      dtype='object')

In [2]:
file = 'test.h5'
t = Traffic.from_file(file, parse_dates=["day","firstseen", "hour", "last_position","lastseen","timestamp"], key='t')

In [3]:
t

     flight_id  count
0   DLH693_174  13800
1  DLH1293_071  12939
2   DLH625_121  12228
3   DLH581_076  11639
4   DLH797_088  11386
5   DLH637_118  11054
6   DLH499_026  10851
7   DLH757_092  10828
8   DLH759_093  10821
9   DLH601_097  10772

In [20]:
from preprocessing import get_edge_flights
file = "Frankfurt_LH_2302.h5"
file_sample = "sample_flights.csv"
t_04 = Traffic.from_file(file, key="LH_230204", parse_dates=["day","firstseen", "hour", "last_position","lastseen","timestamp"])
sample = Traffic.from_file(file_sample, parse_dates=["day","firstseen", "hour", "last_position","lastseen","timestamp"])

In [40]:
_, early_sample, late_sample = get_edge_flights(sample)
_, early_04, late_04 = get_edge_flights(t_04)

In [55]:
sample.data.groupby("flight_id", as_index=False).mean()

C:\Users\dario\AppData\Local\Temp\ipykernel_17288\3574727564.py:1: FutureWarning: The default value of numeric_only in DataFrameGroupBy.mean is deprecated. In a future version, numeric_only will default to False. Either specify numeric_only or select only columns which should be valid for the function.
  sample.data.groupby("flight_id", as_index=False).mean()

,flight_id,Unnamed: 0,alert,altitude,geoaltitude,groundspeed,latitude,longitude,onground,spi,squawk,track,vertical_rate
0,DLH1LC_081,113427.800059,0.001479,19431.738166,19666.612426,356.370600,50.481614,12.227109,0.000000,0.000296,1063.793164,257.160507,-49.708370
1,DLH3KK_083,190271.943191,0.000389,13221.427169,13667.160764,293.625696,48.985110,8.456773,0.021401,0.001167,1008.823346,105.272251,-11.939539
2,DLH431_009,51066.903254,0.000000,35824.956025,33565.211082,543.240985,49.148229,-69.017986,0.000000,0.000000,6215.000000,69.278962,17.933509
3,DLH797_187,34412.500000,0.000000,36000.000000,34729.505814,413.713178,41.575666,44.164252,0.000000,0.000000,NaN,272.050828,-24.062016
4,DLH7C_198,61440.601384,0.000407,11887.572195,13628.476670,295.554967,49.035090,8.847234,0.107492,0.000407,1057.732085,137.481177,-46.723127

In [42]:
late_04

array(['DLH403_002', 'DLH431_016', 'DLH455_028', 'DLH457_034',
       'DLH511_046', 'DLH491_150', 'DLH445_158', 'DLH637_197',
       'DLH441_202', 'DLH631_206'], dtype=object)

In [43]:
early_04

array(['DLH403_000', 'DLH431_009', 'DLH457_030', 'DLH455_036',
       'DLH439_166', 'DLH443_171', 'DLH449_188', 'DLH469_192',
       'DLH441_194', 'DLH625_200', 'DLH637_203'], dtype=object)

In [48]:
sample_flights_before = t_04['DLH403_002', 'DLH431_016', 'DLH449_188', 'DLH469_192', 'DLH3LX_308', 'DLH9YJ_057']
sample_flights_before

    flight_id  count
0  DLH469_192  11720
1  DLH3LX_308   5585
2  DLH9YJ_057   3935
3  DLH449_188   3599
4  DLH431_016   3161
5  DLH403_002   1853

In [58]:
sample_flights_before.to_csv("sample_flights_before.csv",index=False)

In [47]:
random.sample(t_04.flight_ids,2)

['DLH3LX_308', 'DLH9YJ_057']

In [68]:
sample.data.to_csv("sample_flights.csv", index=False)

In [62]:
sample.data.columns

Index(['Unnamed: 0', 'alert', 'altitude', 'callsign', 'day', 'destination',
       'firstseen', 'geoaltitude', 'groundspeed', 'hour', 'icao24',
       'last_position', 'lastseen', 'latitude', 'longitude', 'onground',
       'origin', 'spi', 'squawk', 'timestamp', 'track', 'vertical_rate',
       'flight_id'],
      dtype='object')

In [78]:
sample_flights_before['DLH403_002'].data

,alert,altitude,callsign,day,destination,firstseen,geoaltitude,groundspeed,hour,icao24,...,latitude,longitude,onground,origin,spi,squawk,timestamp,track,vertical_rate,flight_id
39696,False,-525.0,DLH403,2023-02-05 00:00:00+00:00,EDDF,2023-02-04 23:28:07+00:00,-100.0,109.0,2023-02-04 23:00:00+00:00,3c4a01,...,40.689331,-74.170593,False,KEWR,False,1746,2023-02-04 23:28:07+00:00,206.095424,0.0,DLH403_002
39697,False,-525.0,DLH403,2023-02-05 00:00:00+00:00,EDDF,2023-02-04 23:28:07+00:00,-100.0,109.0,2023-02-04 23:00:00+00:00,3c4a01,...,40.687912,-74.171509,False,KEWR,False,1746,2023-02-04 23:28:08+00:00,206.095424,0.0,DLH403_002
39698,False,-525.0,DLH403,2023-02-05 00:00:00+00:00,EDDF,2023-02-04 23:28:07+00:00,-100.0,109.0,2023-02-04 23:00:00+00:00,3c4a01,...,40.687912,-74.171509,False,KEWR,False,1746,2023-02-04 23:28:09+00:00,206.095424,0.0,DLH403_002
39699,False,-525.0,DLH403,2023-02-05 00:00:00+00:00,EDDF,2023-02-04 23:28:07+00:00,-100.0,109.0,2023-02-04 23:00:00+00:00,3c4a01,...,40.686676,-74.172302,False,KEWR,False,1746,2023-02-04 23:28:10+00:00,206.095424,0.0,DLH403_002
39700,False,-525.0,DLH403,2023-02-05 00:00:00+00:00,EDDF,2023-02-04 23:28:07+00:00,-100.0,109.0,2023-02-04 23:00:00+00:00,3c4a01,...,40.686676,-74.172302,False,KEWR,False,1746,2023-02-04 23:28:11+00:00,206.095424,0.0,DLH403_002
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
41544,False,36975.0,DLH403,2023-02-05 00:00:00+00:00,EDDF,2023-02-04 23:28:07+00:00,35975.0,534.0,2023-02-04 23:00:00+00:00,3c4a01,...,42.622205,-70.138890,False,KEWR,False,1746,2023-02-04 23:58:55+00:00,66.604130,-64.0,DLH403_002
41545,False,36975.0,DLH403,2023-02-05 00:00:00+00:00,EDDF,2023-02-04 23:28:07+00:00,35950.0,534.0,2023-02-04 23:00:00+00:00,3c4a01,...,42.623291,-70.135470,False,KEWR,False,1746,2023-02-04 23:58:56+00:00,66.604130,-64.0,DLH403_002
41546,False,36975.0,DLH403,2023-02-05 00:00:00+00:00,EDDF,2023-02-04 23:28:07+00:00,35950.0,534.0,2023-02-04 23:00:00+00:00,3c4a01,...,42.624069,-70.133036,False,KEWR,False,1746,2023-02-04 23:58:57+00:00,66.604130,-64.0,DLH403_002
41547,False,36975.0,DLH403,2023-02-05 00:00:00+00:00,EDDF,2023-02-04 23:28:07+00:00,35950.0,533.0,2023-02-04 23:00:00+00:00,3c4a01,...,42.625324,-70.129054,False,KEWR,False,1746,2023-02-04 23:58:58+00:00,66.561443,-64.0,DLH403_002
41548,False,36975.0,DLH403,2023-02-05 00:00:00+00:00,EDDF,2023-02-04 23:28:07+00:00,35950.0,533.0,2023-02-04 23:00:00+00:00,3c4a01,...,42.626221,-70.126294,False,KEWR,False,1746,2023-02-04 23:58:59+00:00,66.561443,-64.0,DLH403_002

In [7]:
import h5py
filename = "Frankfurt_LH_2201_correct.h5"
with h5py.File(filename, "r") as f:
    Traffic.from_file(f, key=)

31